<div class="my-form">
  <div class="form-group row">
    <div class="col-md-1"></div>
    <label for="person" class="col-md-2 col-form-label">Член семьи</label>
    <div class="col-md-8">
      <button type="button" (click)="selectHusband()" class="btn btn-outline-primary">Муж</button>
      <button type="button" (click)="selectWife()" class="btn btn-outline-primary">Жена</button>
      <button type="button" (click)="selectSon()" class="btn btn-outline-primary">Сын</button>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-1"></div>
    <label for="category" class="col-md-2 col-form-label">Категория</label>

    <div class="col-md-2">
      <div class="list-group">
        <a *ngFor="let item of categories" class="list-group-item list-group-item-action" (click)="selectCategory(item)" [class.active]="item.category == category">
          {{item.category}}
        </a>
      </div>
    </div>

    <div class="col-md-2">
      <div class="list-group">
        <div *ngIf="category">
          <a *ngFor="let item of selectedCategory.subcategory" class="list-group-item list-group-item-action" (click)="selectSubcategory(item)" [class.active]="item == subcategory">
            {{item}}
          </a>
        </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <div class="col-md-1"></div>
    <label for="category" class="col-md-2 col-form-label">Сумма</label>
    <div class="col-md-8">
      <input class="form-control" [(ngModel)]="cash">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-1"></div>
    <label for="category" class="col-md-2 col-form-label">Дата</label>
    <div class="col-md-8">
      <input class="form-control" [(ngModel)]="date" placeholder={{showDate()}}>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-1"></div>
    <label for="category" class="col-md-2 col-form-label">Комментарий</label>
    <div class="col-md-8">
      <input class="form-control" [(ngModel)]="comment">
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <!-- ==============to do==================== -->
        <button (click)="add(category, subcategory, name, cash, date, comment)" class="btn btn-primary">Сохранить</button>
        <button type="button" class="btn btn-danger" routerLink="">Отменить</button>

      </div>
    </div>
  </div>
</div>