<form class="form" [formGroup]="infoForm" novalidate (ngSubmit)="onSubmit()">

    <div class="form-group row form-item">
      <div class="col-md-1"></div>
      <label for="person" class="col-md-2 col-form-label">Член семьи<span class="obliged">*</span></label>
      <div class="col-md-8">
        <select formControlName="personState" class="form-control">
          <option *ngFor="let personState of personStates" [ngValue]="personState">
            {{ personState.name }}
          </option>
        </select>
      </div>
    </div>
  
    <div class="form-group row form-item">
      <div class="col-md-1"></div>
      <label for="category" class="col-md-2 col-form-label">Категория<span class="obliged">*</span></label>
  
      <div class="col-md-8">
        <select formControlName="categoryState" class="form-control">
          <option *ngFor="let categoryState of categories" [ngValue]="categoryState">
            {{ categoryState.category }}
          </option>
        </select>
      </div>
    </div>
  
    <div class="form-group row form-item">
      <div class="col-md-1"></div>
      <label for="category" class="col-md-2 col-form-label">Подкатегория</label>
  
      <div class="col-md-8">
        <div *ngIf="!infoForm.value.categoryState">
          <fieldset disabled>
            <input class="form-control" placeholder="Выберите категорию">
          </fieldset>
        </div>
  
        <div *ngIf="infoForm.value.categoryState">
          <div *ngIf="infoForm.value.categoryState.subcategory.length">
            <select formControlName="subcategoryState" class="form-control">
              <option *ngFor="let subcategoryState of infoForm.value.categoryState.subcategory" [ngValue]="subcategoryState">
                {{ subcategoryState }}
              </option>
            </select>
          </div>
  
          <div *ngIf="!infoForm.value.categoryState.subcategory.length">
            <fieldset disabled>
              <input class="form-control" placeholder="Для данной категории нет подкатегорий">
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  
    <div class="form-group row form-item">
      <div class="col-md-1"></div>
      <label for="category" class="col-md-2 col-form-label">Сумма<span class="obliged">*</span></label>
      <div class="col-md-8">
        <!-- to do: (keypress)="onCashChange($event)"-->
        <input class="form-control" type="text" formControlName="cash">
      </div>
    </div>
  
    <div class="form-group row form-item">
      <div class="col-md-1"></div>
      <label for="category" class="col-md-2 col-form-label">Дата</label>
      <div class="col-md-8">
        <input type="text" placeholder={{showDate()}} class="form-control" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
        formControlName="date" bsDatepicker>
      </div>
    </div>
  
    <div class="form-group row form-item">
      <div class="col-md-1"></div>
      <label for="category" class="col-md-2 col-form-label">Комментарий</label>
      <div class="col-md-8">
        <input class="form-control" formControlName="comment">
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <input type="submit" class="btn btn-primary" value="Сохранить" [disabled]="infoForm.invalid">
        <button type="button" class="btn btn-danger" (click)="goBack()">Отменить</button>
      </div>
    </div>
  
  </form>
  