<table class="table table-striped">
  <thead>
    <tr>
      <th>Категория</th>
      <th>Подкатегория</th>
      <th>Человек</th>
      <th>Сумма</th>
      <th>Дата</th>
      <th>Комментарий</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.category}}</td>
      <td>{{item.subcategory}}</td>
      <td>{{item.person}}</td>
      <td>{{item.cash}}</td>
      <td>{{showDate(item.date)}}</td>
      <td>{{item.comment}}</td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-outline-primary" routerLink="/add">+ добавить</button>
